
.pagination{
  display: flex;

  button{
    border: 0;
    border-radius: 20px;

    i{
      font-size: 20px;
      color: var(--blue-color);

      cursor: pointer;
      margin: 18px;
    }

    &:active{
      transform: scale(0.9);
      transition: all 0.1s;
    }

    &:first-child{
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 550px) {
    justify-content: center;
  }
}