.news{
  width: 100%;
  margin-bottom: 50px;

  .news-img{
    height: 300px;
    width: 100%;
    border-radius: 25px;
  }

  .news-title{
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0;
    line-height: 1;
  }

  .news-description{
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    margin: 10px 0;
  }

  .news-details{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    font-size: 16px;
    margin: 20px 0;

    width: 90%;

    .view{
      font-size: 16px;
      padding: 8px 20px 10px 20px;
      border-radius: 50px;
      color: white;
      background-color: var(--blue-color);
      text-decoration: none;

      cursor: pointer;

      &:active{
        transform: scale(0.9);
        transition: all 0.1s;
      }
    }

    .date{
      font-size: 18px;
      color: gray;
      font-weight: 500;
    }
  }
}