.home{
  width: 80%;
  margin: auto;
  padding-top: 120px;
  // border: 1px solid black;

  .news-loader{
    width: 50%;
    height: fit-content;
    // border: 1px solid black;

    .news{
      width: 100%;
      margin-bottom: 30px;
      // border: 1px solid black;

      .news-img{
        height: 300px;
        width: 100%;
        border-radius: 25px;
      }

      .news-title{
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
        line-height: 1;
      }

      .news-description{
        font-size: 18px;
        margin: 10px 0;
      }

      .news-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        margin: 20px 0;

        width: 90%;

        .view{
          padding: 10px 20px;
          border-radius: 50px;
          color: white;
          background-color: var(--blue-color);

          cursor: pointer;

          &:active{
            transform: scale(0.9);
            transition: all 0.1s;
          }
        }

        .date{
          color: gray;
          font-weight: 500;
        }
      }
    }
  }
}