.home{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 120px;

  .news-loader{
    width: 50%;
    height: fit-content;
    margin-bottom: 50px;

    .news{
      width: 100%;
      margin-bottom: 50px;

      .news-img{
        height: 300px;
        width: 100%;
        border-radius: 25px;
      }

      .news-title{
        font-size: 24px;
        font-weight: 800;
        margin: 20px 0;
        line-height: 1;
      }

      .news-description{
        font-size: 20px;
        line-height: 1;
        font-weight: 500;
        margin: 10px 0;
      }

      .news-details{
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
        font-size: 16px;
        margin: 20px 0;

        width: 90%;

        .view{
          font-size: 16px;
          padding: 8px 20px 10px 20px;
          border-radius: 50px;
          color: white;
          background-color: var(--blue-color);
          text-decoration: none;

          cursor: pointer;

          &:active{
            transform: scale(0.9);
            transition: all 0.1s;
          }
        }

        .date{
          font-size: 18px;
          color: gray;
          font-weight: 500;
        }
      }
    }

    .pagination{
      display: flex;

      button{
        border: 0;
        border-radius: 20px;

        i{
          font-size: 20px;
          color: var(--blue-color);

          cursor: pointer;
          margin: 18px;
        }

        &:active{
          transform: scale(0.9);
          transition: all 0.1s;
        }

        &:first-child{
          margin-right: 20px;
        }
      }
    }
  }

  .news-recent{
    height: fit-content;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;

    .rec{
      width: fit-content;
      font-size: 20px;
      font-weight: 500;
      color: white;
      margin-bottom: 20px;
      padding: 5px 30px 8px 30px;
      border-radius: 50px;


      background-color: var(--blue-color);
    }

    .rec-news{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      // border: 1px solid black;

      img{
        width: 150px;
        height: 100px;
        margin: 10px;

        border-radius: 10px;
      }

      .rec-details{
        width: 70%;

        h1{
          font-size: 18px;
          font-weight: 600;
          margin: 10px 0;
          color: black;
        }
        
        p{
          font-size: 16px;
          color: gray;
        }
      }

      &:hover{
        transition: all 0.3s ease-in-out;
        transform: scale(1.05); 
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        border-radius: 5px;
      }
    }
  }
}