.navbar{
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blu4r(4px);

  .logo{
    display: flex;
    align-items: center;
    position: relative;

    img{
      height: 30px;
    }
  }

  .search{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    input{
      width: 350px;
      height: 40px;
      border-radius: 50px;
      border: 0px;
      padding: 0px 30px 3px 20px;
      background-color: #f2f0ef;
      color: #959a9f;

      transition: all 0.3s;

      font-size: 17px;

      &::placeholder{
        color: #959a9f;
        opacity: 0.7;
      }

      &:focus{
        outline: none;
      }
    }

    svg{
      height: 20px;
      position: absolute;
      right: 10px;
      color: #959a9f;
    }
  }

  @media screen and (max-width: 800px) {
    padding: 25px 20px;
  }

  @media screen and (max-width: 550px) {
    justify-content: center;
    padding: 10px;

    .search{
      margin-top: 10px;
    }
  }
}