@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

:root {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --background-color: #fffdfc;
  --white-color: #fff;
  --blue-color: #482dff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--background-color);
}
